;;;;;;;;;;;;;;;;;;;;;;;;;;;
; About dbconnect.config  ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;
; This is where I store the database connection parameters.
; All security is dependent on this file not being accessible
; from anyone or anything except ...
;
; The format came from php.ini where semicolons are comments,
; parameters are key=value.
;
host = "127.0.0.1"
database = novascotia
user = "mikmaq"
password = "canada"
